<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  </RunConfiguration>
  
  <NUnit>
    <NumberOfTestWorkers>1</NumberOfTestWorkers>
    <DefaultTimeout>30000</DefaultTimeout>
    <Verbosity>1</Verbosity>
  </NUnit>
</RunSettings>